# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
build/
.packages
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/app/debug.keystore

# iOS gnerated files
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

# Coverage
coverage/

# security
.env

/android/app/.cxx/Debug/3j127731/armeabi-v7a/additional_project_files.txt




android/app/.cxx/

# Gradle files
.gradle/

# Local configuration files
local.properties

# Android Studio cache
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/

# Keystore files
*.jks
*.keystore


# OS-specific files
Thumbs.db

# Build directories
app/build/
*/build/

# Proguard configuration files
proguard-rules.pro

# Miscellaneous
*.apk
*.ap_
*.dex

# Android NDK
ndkBuild/

.vercel
